{% extends "base.html" %}
{% block title %}About Recommenders{% endblock %}
{% block content %}
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <iframe src="//giphy.com/embed/O4HSWYqKgIIZG" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/art-london-exhibition-O4HSWYqKgIIZG">via GIPHY</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
