<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/simple-sidebar.css') }}"rel="stylesheet">
    <!-- Tree CSS -->
    <link href="{{ url_for('static', filename='css/tree.css') }}" rel="stylesheet">
    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    {% block head %}
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
</head>
<body>
    <div id="content">
    <div class="container">
      <!-- NavBar -->
      <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="/">Venue Recommender</a>
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/usrlocationmap">User Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/venues">Venue Density</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
        </ul>
        <form class="form-inline" action="/" role="form" method='POST'>
          <div class="form-group">
            <label class="sr-only"  for="latitude2">Latitude</label>
            <input type="text" class="form-control" name="latitude" id="latittude2" placeholder="Enter latitude" value="{{ latitude }}" />
            <label class="sr-only"  for="longitude2">Longitude</label>
            <input type="text" class="form-control" name="longitude" id="longitude2" placeholder="Enter longitude" value="{{ longitude }}"/>
            <label class="sr-only"  for="userid2">User ID</label>
            <input type="text" class="form-control" name="userid" id="userid2" placeholder="Enter User ID" value="{{ userid }}"/>
          </div>
          <button type="submit" class="btn btn-default">Recommend</button>
        </form>
      </nav>
    </div>
        <!-- /#Navbar-wrapper -->
      {% block content %}{% endblock %}
      <!-- jQuery -->
      <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
      <!-- Bootstrap Core JavaScript -->
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2016 by <a href="http://domain.invalid/">you</a>.
        {% endblock %}
    </div>
</body>
</html
